{%extends "base.html" %} {% block content %}
<!-- Hero Section -->
<section
	id="hero"
	class="hero section">
	<div class="hero-bg">
		<img
			src="{{url_for('static',filename='img/hero-bg-light.webp')}}"
			alt="" />
	</div>
	<div class="container text-center">
		<div class="d-flex flex-column justify-content-center align-items-center">
			<h1 data-aos="fade-up">Welcome to <span>SurvivalReveal</span></h1>
			<p
				data-aos="fade-up"
				data-aos-delay="100">
				If you were on the Titanic, would you be saved? <br />We will tell
				you.<br />
			</p>
			<div
				class="d-flex"
				data-aos="fade-up"
				data-aos-delay="200">
				<a
					href="#about"
					class="btn-get-started"
					>Sign Up</a
				>
			</div>
			<img
				src="{{url_for('static',filename='img/titanic.png')}}"
				class="img-fluid hero-img"
				alt=""
				data-aos="zoom-out"
				data-aos-delay="300" />
		</div>
	</div>
</section>
<!-- /Hero Section -->
<!-- Features Section -->
<section
	id="features"
	class="features section">
	<!-- Section Title -->
	<div
		class="container section-title"
		data-aos="fade-up">
		<h2>The Titanic: A Legend Born from Tragedy</h2>
		<p>
			Do you know the legendary story of the Titanic, the magnificent
			'unsinkable' ship that tragically met its fate on its maiden voyage?
		</p>
	</div>
	<!-- End Section Title -->

	<div class="container mb-2">
		<div class="row justify-content-between">
			<div class="col-lg-6 d-flex align-items-center">
				<ul
					class="nav nav-tabs"
					data-aos="fade-up"
					data-aos-delay="100">
					<li class="nav-item">
						<a
							class="nav-link active show"
							data-bs-toggle="tab"
							data-bs-target="#features-tab-1">
							<i class="fa-solid fa-ship"></i>

							<div>
								<h4 class="d-none d-lg-block">A Brief Overview</h4>
								<p style="text-align: justify">
									The Titanic was a British passenger liner, famously known for
									sinking during its maiden voyage. Built by the White Star
									Line, it was one of the largest and most luxurious ships ever
									constructed at the time. The Titanic was advertised as
									"unsinkable" due to its advanced safety features, including a
									double hull and 16 watertight compartments. On April 10, 1912,
									the Titanic set sail from Southampton, England, to New York
									City with over 2,200 passengers and crew on board. Among the
									passengers were some of the wealthiest people of the time, as
									well as immigrants seeking a new life in America.
								</p>
							</div>
						</a>
					</li>
				</ul>
			</div>

			<div class="col-lg-6">
				<div
					class="tab-content"
					data-aos="fade-up"
					data-aos-delay="200">
					<div
						class="tab-pane fade active show"
						id="features-tab-1">
						<img
							src="{{url_for('static',filename='img/titanic2.webp')}}"
							alt=""
							class="img-fluid" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- part 2 -->
	<div class="container mb-2">
		<div class="row justify-content-between">
			<div class="col-lg-6">
				<div
					class="tab-content"
					data-aos="fade-up"
					data-aos-delay="200">
					<div
						class="tab-pane fade active show"
						id="features-tab-1">
						<img
							src="{{url_for('static',filename='img/Titanic_lifeboat.jpg')}}"
							alt=""
							class="img-fluid" />
					</div>
					<!-- End Tab Content Item -->
				</div>
			</div>
			<div class="col-lg-6 d-flex align-items-center">
				<ul
					class="nav nav-tabs"
					data-aos="fade-up"
					data-aos-delay="100">
					<li class="nav-item">
						<a
							class="nav-link active show"
							data-bs-toggle="tab"
							data-bs-target="#features-tab-1">
							<i class="fas fa-exclamation-triangle"></i>
							<div>
								<p style="text-align: justify">
									On the night of April 14, 1912, the Titanic struck an iceberg
									in the North Atlantic Ocean. The iceberg scraped along the
									ship's starboard side, causing five of its 16 watertight
									compartments to flood. The ship was not designed to stay
									afloat with more than four flooded compartments, and as a
									result, it began to sink. The Titanic had lifeboats for only
									about half of the people on board, a decision based on
									outdated maritime regulations. This led to a chaotic
									evacuation, with many lifeboats launched partially empty. Due
									to the freezing cold waters and lack of sufficient lifeboats,
									over 1,500 people died, making it one of the deadliest
									maritime disasters in history. Most of the deaths were caused
									by hypothermia in the frigid waters, rather than drowning.
								</p>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- part 3 -->
	<div class="container mb-2">
		<div class="row justify-content-between">
			<div class="col-lg-6 d-flex align-items-center">
				<ul
					class="nav nav-tabs"
					data-aos="fade-up"
					data-aos-delay="100">
					<li class="nav-item">
						<a
							class="nav-link active show"
							data-bs-toggle="tab"
							data-bs-target="#features-tab-1">
							<i class="bi bi-binoculars"></i>
							<div>
								<p style="text-align: justify">
									The sinking of the Titanic became a symbol of human error,
									overconfidence in technology, and class disparity. It led to
									widespread public outrage and resulted in significant changes
									to maritime safety regulations, including the International
									Convention for the Safety of Life at Sea (SOLAS) in 1914,
									which mandated sufficient lifeboats and improved safety
									measures for ships. The wreck of the Titanic was discovered in
									1985 on the ocean floor, about 2.5 miles deep, providing
									further insight into the tragedy and reigniting public
									fascination with the ship's story.
								</p>
							</div>
						</a>
					</li>
				</ul>
			</div>

			<div class="col-lg-6">
				<div
					class="tab-content"
					data-aos="fade-up"
					data-aos-delay="200">
					<div
						class="tab-pane fade active show"
						id="features-tab-1">
						<img
							src="{{url_for('static',filename='img/titanic3.webp')}}"
							alt=""
							class="img-fluid" />
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /Features Section -->

<section
	id="featured-services"
	class="featured-services section light-background">
	<div class="container">
		<div class="row gy-4">
			<div
				class="col-xl-4 col-lg-6"
				data-aos="fade-up"
				data-aos-delay="100">
				<div class="service-item d-flex">
					<div class="icon flex-shrink-0"><i class="bi bi-briefcase"></i></div>
					<div>
						<h4 class="title">
							<a
								href="#"
								class="stretched-link"
								>Lorem Ipsum</a
							>
						</h4>
						<p class="description">
							Voluptatum deleniti atque corrupti quos dolores et quas molestias
							excepturi
						</p>
					</div>
				</div>
			</div>
			<!-- End Service Item -->

			<div
				class="col-xl-4 col-lg-6"
				data-aos="fade-up"
				data-aos-delay="200">
				<div class="service-item d-flex">
					<div class="icon flex-shrink-0">
						<i class="bi bi-card-checklist"></i>
					</div>
					<div>
						<h4 class="title">
							<a
								href="#"
								class="stretched-link"
								>Dolor Sitema</a
							>
						</h4>
					</div>
				</div>
			</div>
			<!-- End Service Item -->

			<div
				class="col-xl-4 col-lg-6"
				data-aos="fade-up"
				data-aos-delay="300">
				<div class="service-item d-flex">
					<div class="icon flex-shrink-0"><i class="bi bi-bar-chart"></i></div>
					<div>
						<h4 class="title">
							<a
								href="#"
								class="stretched-link"
								>Sed ut perspiciatis</a
							>
						</h4>
						<p class="description">
							Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum
						</p>
					</div>
				</div>
			</div>
			<!-- End Service Item -->
		</div>
	</div>
</section>
<!-- /Featured Services Section -->
{% endblock %}
