{%extends "base.html" %} {% block title %} Input {% endblock %} {% block
	content %}
<section
	id="login"
	class="hero login section">
	<!-- Section Title -->
	<div class="login-bg">
		<img
			src="{{url_for('static',filename='img/input.jpg')}}"
			alt="" />
	</div>
	<div
		class="container"
		data-aos="fade-up">
		<div class="row d-flex justify-content-center align-items-start">
			{% with  messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
			<div>
				{% for category, message in messages %}
					<div class="alert alert-{{category}} alert-dismissiable fade show" role="alert">
						{{message}}
					</div>
				{% endfor %}
			</div>
			{% endif %}
			{% endwith %}
			<h2 class="section-title">Enter your Data</h2>

			<form action = {{url_for('main.input_data')}} method ="POST" novalidate></form>
			<div class="col-lg-3">
					<div class="form-group">
						{{ form.Pclass.label(class="form-label") }} 
						{{ form.Pclass(class="form-control") }} 
						{% for error in form.Pclass.errors %}
							<span class="text-danger small">{{ error }}</span>
						{% endfor %}
					</div>
					<div class = "form-group">
						{{form.sex.label(class="form-label")}}
						{{form.sex(class="form-control")}}
						{% for error in form.sex.errors %}
							<span class ="text-danger small">{{error}}</span>
						{% endfor %}
					</div>
            </div>
            <div class="col-lg-3">

				<div class = "form-group">
					{{form.age.label(class="form-label")}}
					{{form.age(class="form-control")}}
					{% for error in form.age.errors %}
						<span class ="text-danger small">{{error}}</span>
					{% endfor %}
				</div>
				<div class = "form-group">
					{{form.embarked.label(class="form-label")}}
					{{form.embarked(class="form-control")}}
					{% for error in form.embarked.errors %}
						<span class ="text-danger small">{{error}}</span>
					{% endfor %}
				</div>
            </div>
					<div class="d-flex justify-content-center p-3">
						{{form.predict(class='submit-btn')}}
					</div>
					<div class="text-center">
						<p>
							Do you want to see previous predictions?
							<a href="{{url_for('main.history')}}">See your history</a>
						</p>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<!-- /Starter Section Section -->
{%endblock%}
